apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
        redis-client: "true"
    spec:
      containers:
        - name: account-service
          image: docker.io/dhubau/account-service:b1.20200616.084351
          imagePullPolicy: Always
          env:
            - name: SERVER_PORT
              value: "8080"
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: SPRING_REDIS_HOST
              value: redis-production-master
            - name: SPRING_REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-production
                  key: redis-password
            - name: SPRING_RABBITMQ_HOST
              value: rabbit-production-rabbitmq
            - name: SPRING_RABBITMQ_USERNAME
              value: user
            - name: SPRING_RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rabbit
                  key: rabbitmq-password
            - name: PAYMENTS_HOST
              value: payment-service
            - name: MANAGEMENT_METRICS_EXPORT_WAVEFRONT_ENABLED
              value: 'true'
            - name: MANAGEMENT_METRICS_EXPORT_WAVEFRONT_URI
              value: 'proxy://wavefront-proxy:2878'
            - name: WAVEFRONT_APPLICATION_NAME
              value: tanzu-demo-prod
          livenessProbe:
            initialDelaySeconds: 30
            periodSeconds: 3
            httpGet:
              path: /actuator/health/liveness
              port: 8080
          readinessProbe:
            initialDelaySeconds: 30
            periodSeconds: 10
            httpGet:
              path: /actuator/health/readiness
              port: 8080
          resources:
            requests:
              memory: 768Mi
              cpu: 500m
            limits:
              memory: 768Mi
          ports:
            - containerPort: 8080
